@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Light.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Light.woff') format('woff'),
	     url('../fonts/ProximaNova-Light.ttf')  format('truetype'),
	     url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'proxima-nova', sans-serif;
    font-size: 14px;
    color: #333;
    overflow-y: scroll;

}

a {
	text-decoration: none;
}

.wrapper {
	width: 100%;
}

.sidebar {
	position: fixed;
	width: 250px;
	background-color: #444C63;
	height: 100%;
	min-height: 400px;

}
.page {
	margin-left: 250px;
	border-left: 1px solid #e7e7e7;
	height: auto;
}
.logo {
	height: 60px;
    text-align: center;
}

.logo img {
	width: 200px;
    margin-top: 15px;
}
nav,.content {
	margin-top: 30px;
}
nav ul li a  {
	padding:15px 18px;
	display: block;
	color: #fff;
	opacity: 0.4;
	text-decoration: none;
	font-size: 16px;
	border-left: 2px solid #444C63;
	transition-property: opacity;
  	transition-duration: 0.2s;

}

nav ul li a:before {
    content: '';
    width: 20px;
    height: 22px;
    display: inline-block;
    background-image: url('../image/sprite.png');
    margin-right: 20px;
    background-repeat-y: no-repeat;
    vertical-align: text-bottom;

}

nav ul li.breakfast a:before {
	background-position-x: 0px;
}

nav ul li.lunch a:before {
	background-position-x: -20px;
}

nav ul li.dinner a:before {
	background-position-x: -40px;
}

nav ul li.active a,nav ul li a:hover {
	background: #292F42;
	border-left: 2px solid #00B4F8;
	color: #fff;
	opacity: 1;
}

.badge {
	padding:10px 15px;
	width: 100%;
    box-sizing: border-box;
}

.bottom {
	position: absolute;
	bottom: 20px;
}

.btn {
	padding: 10px;
    text-align: center;
    display: block;
    border: 1px solid #00B4F8;
    border-radius: 3px;
    color: #fff;
    opacity: 0.5;
    transition-property: opacity;
  	transition-duration: 0.2s;
  	background: none;
    width: 100%;
    cursor: pointer;
}

.btn:hover {
	opacity: 1;
}

.page header {
	height: 60px;
	padding:10px;
	box-sizing: border-box;
}
form.search input {
	height: 25px;
    margin: 8px 10px;
    padding: 0;
    border: none;
    font-size: 20px;
    font-weight: 300;
    padding-left: 15px;
    color: #b6bdd2;
    font-family: 'proxima-nova', sans-serif;
}

form.search .input-icon {
	position: relative;
	margin-left: 10px;
}

form.search .input-icon .icon-search {
	position: absolute;
    top: 12px;
    color: #b6bdd2;
    font-size: 16px;
    font-weight: 300;
}

::-webkit-input-placeholder {color:#b6bdd2;}
::-moz-placeholder          {color:#b6bdd2;}/* Firefox 19+ */
:-moz-placeholder           {color:#b6bdd2;}/* Firefox 18- */
:-ms-input-placeholder      {color:#b6bdd2;}

:focus {
outline: none;
}



.clerfix:after {
	content: '';
	clear: both;
}
.clerfix .left {
	float: left;
}

.clerfix .right {
	float: right;
}


header .user {
	padding: 10px;
    font-size: 16px;
    display: block;
    color:#444c63;
    font-weight: bold;
    margin-right: 10px;
    opacity: 0.6;
    transition-property: opacity;
  	transition-duration: 0.2s;
  	cursor: pointer;
}
header .user:hover {
	opacity: 1;
}
header .user:after {
	content: "\f107";
	margin-left: 5px;
	font: normal normal normal 14px/1 FontAwesome;
}

header .user:before {
    content: "";
    height: 22px;
    width: 15px;
    display: inline-block;
    background-image: url('../image/user.png');
    margin-right: 5px;
    background-repeat-x: no-repeat;
    vertical-align: text-bottom;
}

.page .content {
	padding:10px;
}

.page .content h1 {
	padding: 0 10px 30px;
    font-size: 34px;
    color: #444c63;
}

.items {
	display: flex;
	flex-wrap: wrap;
	align-content:space-between;
}
.items .item {
	width: 20%;
	box-sizing: border-box;
	padding: 10px;
	opacity: 0.8;
	transition-property: opacity;
  	transition-duration: 0.2s;
}
.items .item:hover {
	opacity: 1;
}

.items .item figure img {
	width: 100%;
  border-radius: 3px;
}



.items .item.ng-animate {
  transition:0.2s linear all;
}
.items .item.ng-enter {
  opacity:0;
  transform: scale(0);
}
.items .item.ng-enter.ng-enter-active {
  opacity:0.8;
  transform: scale(1);
}
.items .item.ng-leave {
  transform: scale(1);
  opacity:0.8;
}
.items .item.ng-leave.ng-leave-active {
  opacity:0;
  
}





.animate.ng-enter {
    -moz-transition: ease-out all 0.3s 0.4s;
    -o-transition: ease-out all 0.3s 0.4s;
    -webkit-transition: ease-out all 0.3s 0.4s;
    transition: ease-out all 0.3s 0.4s;
}


.animate.ng-leave {
    -moz-transition: 0.1s ease-out all;
    -o-transition: 0.1s ease-out all;
    -webkit-transition: 0.1s ease-out all;
    transition: 0.1s ease-out all;
}

.animate.ng-enter,
.animate.ng-leave.ng-leave-active {
    
    opacity: 0;
}

.animate.ng-leave,
.animate.ng-enter.ng-enter-active {
    
    opacity: 1;
}