<h2>Запилить новый рецепт</h2>
<form name='newRecipe' class='addRecipe'>
	<input type="text" ng-model='addRecipeCtrl.paramRecipe.name'>
	<input type="number" ng-model='addRecipeCtrl.paramRecipe.price'>
	<input type="number" ng-model='addRecipeCtrl.paramRecipe.time'>


<div flow-init="{target: '/upload', permanentErrors: [404, 500, 501]}"
     flow-files-submitted="$flow.upload()"
     flow-file-success="addRecipeCtrl.paramRecipe.images.imageBig = $file.uniqueIdentifier"
     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
>


<div class="drop" flow-drop flow-drag-enter="style={border: '2px dashed #00B4F8'}" flow-drag-leave="style={}" ng-style="style">
    <span class="btn-files btn-files-default" flow-btn="">Загрузить картинку
      <input type="file" multiple="multiple" style="visibility: hidden; position: absolute;">
    </span>

    <span class="btn-files btn-files-default" flow-btn="" flow-directory="" ng-show="$flow.supportDirectory">Загрузить папку с картинками
      <input type="file" multiple="multiple" webkitdirectory="webkitdirectory" style="visibility: hidden; position: absolute;">
    </span>
    <b>ИЛИ</b>
   переместите сюда изображение
</div>


<div class="items">
  <div class="item" ng-repeat="file in $flow.files">
    <figure><img flow-img="$flow.files[0]" /></figure>
  </div>
</div>

</div>

  <input type="submit" class="button" ng-click="addRecipeCtrl.addRecipe()" value="Добавить" />

</form>